#droptarget {
    overflow: auto;
    padding: 2em;
}

.drop_enabled {
    border: #e9e9e9 1px dotted;
}

.drop_enabled:hover {
    background-color: #e9e9e9;
}

#droptarget .panel-body{
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#droptarget table{
    color:gray;
}

#droptarget > div.panel-body > div:nth-child(1){
    overflow-y:auto;
}

#log {
    height: 200px;
    overflow: auto;
    font-family: mono;
}

#log ul {
    list-style: none;
}

#log .time-stamp {
    display: inline-block;
    padding-right: 20px;
    color: darkslategrey;
}

#log li {
    text-indent: -41px;
    margin-left: 80px;
}

.mime {
	margin:0;
	padding:5px 0 0 20px;
	list-style:none;
}

.mime_aggregation {
	background:url('../img/mime_aggregation.gif') no-repeat 0 8px;
}

.mime_edition {
	background:url('../img/mime_edition.gif') no-repeat 0 8px;
}

.mime_collection {
	background:url('../img/mime_collection.gif') no-repeat 0 8px;
}

.mime_work {
	background:url('../img/mime_work.gif') no-repeat 0 8px;
}

.mime_xml {
	background:url('../img/mime_xml.gif') no-repeat 0 8px;
}

.mime_tble {
	background:url('../img/mime_tble.gif') no-repeat 0 8px;
}

.mime_image {
	background:url('../img/mime_image.gif') no-repeat 0 8px;
}

.mime_unknown {
	background:url('../img/mime_unknown.gif') no-repeat 0 8px;
}

.icon,
.title {
    display: block;
}

.icon {
    margin-right: 20px;
}

.title {
    margin-left: 20px;
}

.blink {
  animation: blinker 0.3s linear infinite;
  color:red;
}

@keyframes blinker {
  50% { opacity: 0; color:red;}
}

.success {
    color: #468847;
    background-color: #d6f5d6;
}

.error {
    color: #b94a48;
    background-color: #ffe6e6;
}

.warning {
    color: #ffaa00;
    background-color: #fff7e6;
}

message::before {
    content: attr(level) " at line " attr(line) " column: " attr(column) " ";
    color: red;
    font-weight: bold;
}

message {
    display: block;
}

td {
  transition: transform 1s ease;
}
td > i.fas:hover {
  transform: scale(1.5);
}
.input-group .form-control:focus {
    z-index: inital;
}

.panel-heading {
    background-color: #fbfbfb;
}

.panel-heading .container {
    width: 100%;
}

#droptargetbtns button {
    float: right;
}

.drop_disabled::before {
    content: "Use the content menu entry 'Publish to SADE' on a TextGrid object from within the Navigator to add items here.";
}

.drop_enabled::before {
    content: "Drop your Objects here or use the content menu entry 'Publish to SADE' on a TextGrid object from within the Navigator.";
}

i {
    cursor: pointer;
}

i + i {
    margin-left: 15px;
}

.disabled{
    color: lightgrey;
}