body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	line-height:1.75;
	font-size: 1rem;
	color: rgb(22, 23, 26);
}

#content {
    width: 100%;
    margin-left: 5%;
}

.panel {
    width: 90%;
}

.panel-body {
	border: 1px solid black;
	border-radius: 2px;
	margin-top: 20px;
}

.heading,
.panel-title,
th {
	margin: 1rem 0;
	font-weight: 300;
}

th {
    text-align: left;
}

th,
td {
    padding-left: 5px;
}

.panel-title {
    display: block;
}

.btn {
    border: 1px solid black;
    border-radius: 2px;
	padding: 2px 15px 2px 15px;
}

.btn-group {
	float: right;
	padding-top: 10px;
}

.btn-reset {
    border-color: #990000;
    color: #990000;
    background-color: #ffb3b3;
}

.btn-publish {
    border-color: #145214;
    color: #145214;
    background-color: #adebad;
}

.btn:hover {
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn-reset:hover {
    border-color: #ff3333;
    color: #ff3333;
    background-color: #ffe6e6;
}

.btn-publish:hover {
    border-color: #248f24;
    color: #248f24;
    background-color: #d6f5d6;
}

.table {
	border-radius: 2px;
	width: 100%;
}

.panel-status {
    margin-top: 40px;
}

#log {
    border: 1px solid black;
}
